BACKUP DATABASE [PRODUCT_DATABASE] TO  DISK = N'D:\BACKUPS\BackupDiff.BAK' WITH  DIFFERENTIAL ,  DESCRIPTION = N'This is a differential backup for Product_Database',  RETAINDAYS = 14, NOFORMAT, INIT,  NAME = N'PRODUCT_DATABASE-Full Database Backup', SKIP, NOREWIND, NOUNLOAD, COMPRESSION,  STATS = 10, CHECKSUM, CONTINUE_AFTER_ERROR
GO
declare @backupSetId as int
select @backupSetId = position from msdb..backupset where database_name=N'PRODUCT_DATABASE' and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=N'PRODUCT_DATABASE' )
if @backupSetId is null begin raiserror(N'Verify failed. Backup information for database ''PRODUCT_DATABASE'' not found.', 16, 1) end
RESTORE VERIFYONLY FROM  DISK = N'D:\BACKUPS\BackupDiff.BAK' WITH  FILE = @backupSetId,  NOUNLOAD,  NOREWIND
GO


BACKUP LOG [PRODUCT_DATABASE] TO  DISK = N'D:\Backups\LogBackup.trn' WITH FORMAT, INIT,  MEDIANAME = N'Log Backup for Product_Database',  NAME = N'PRODUCT_DATABASE-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10, CHECKSUM, CONTINUE_AFTER_ERROR
GO
declare @backupSetId as int
select @backupSetId = position from msdb..backupset where database_name=N'PRODUCT_DATABASE' and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=N'PRODUCT_DATABASE' )
if @backupSetId is null begin raiserror(N'Verify failed. Backup information for database ''PRODUCT_DATABASE'' not found.', 16, 1) end
RESTORE VERIFYONLY FROM  DISK = N'D:\Backups\LogBackup.trn' WITH  FILE = @backupSetId,  NOUNLOAD,  NOREWIND
GO


BACKUP DATABASE [PRODUCT_DATABASE] 
FILEGROUP = N'PRIMARY' TO  DISK = N'D:\BACKUPS\File_FIlegroupBackup.BAK'
WITH  COPY_ONLY, NOFORMAT, NOINIT,  NAME = N'PRODUCT_DATABASE-Full Database Backup', SKIP, NOREWIND, NOUNLOAD,  STATS = 10
GO

/* ****************************************   FOR PRACTICE **************************** */
-- 1. FULL DATABASE BACKUP:
BACKUP DATABASE [PRODUCT_DATABASE] TO DISK = 'E:\PRODUCTDB_BACKUP.bak' WITH FORMAT

-- 2. DIFFERENTIAL DATABASE BACKUP :
BACKUP DATABASE [PRODUCT_DATABASE] TO DISK = 'E:\PRODUCTDB_BACKUP.bak' WITH FORMAT, DIFFERENTIAL 

-- 3. FULL FILEGROUP BACKUP :
BACKUP DATABASE [PRODUCT_DATABASE] FILEGROUP = 'PRIMARY' TO DISK = 'E:\PRODUCTDB_BACKUP.bak' WITH FORMAT

-- 4. DIFFERENTIAL FILEGROUP BACKUP : 
BACKUP DATABASE [PRODUCT_DATABASE] FILEGROUP = 'PRIMARY' TO DISK = 'E:\PRODUCTDB_BACKUP.bak' WITH FORMAT, DIFFERENTIAL

-- 5. FULL FILE BACKUP : 
BACKUP DATABASE [PRODUCT_DATABASE] FILE = 'PRODUCT DATABASE' TO DISK = 'E:\PRODUCTDB_BACKUP.bak' WITH FORMAT

-- 6. DIFFERENTIAL FILE BACKUP : 
BACKUP DATABASE [PRODUCT_DATABASE] FILE = 'PRODUCT DATABASE' TO DISK = 'E:\PRODUCTDB_BACKUP.bak' WITH FORMAT, DIFFERENTIAL

-- 7. REGULAR LOG BACKUP : 
BACKUP LOG [PRODUCT_DATABASE] TO DISK = 'E:\PRODUCTDB_BACKUP.trn' WITH FORMAT

-- 8. COPY ONLY BACKUP : 
BACKUP DATABASE [PRODUCT_DATABASE] TO DISK = 'E:\PRODUCTDB_BACKUP_COPY.bak' WITH NOFORMAT, COPY_ONLY



-- 9. MIRRORED BACKUP
BACKUP DATABASE [PRODUCT_DATABASE] TO 
DISK = 'E:\PRODUCTDB_BACKUP_COPY1.bak'
MIRROR TO
DISK = 'D:\PRODUCTDB_BACKUP_COPY2.bak'
WITH FORMAT


-- 10. SPLIT BACKUP			-- BELOW TWO BACKUP FILES FORM ONE BACKUP MEDIA FAMILY
BACKUP DATABASE [PRODUCT_DATABASE] TO 
DISK = 'E:\PRODUCTDB_BACKUP_PART1.bak'
,
DISK = 'D:\PRODUCTDB_BACKUP_PART2.bak'
WITH FORMAT


-- 11. PARTIAL BACKUP 
BACKUP DATABASE [PRODUCT_DATABASE] 
READ_WRITE_FILEGROUPS
TO DISK = 'E:\PRODUCTDB_BACKUP_PARTIAL.bak' WITH FORMAT, COMPRESSION, CHECKSUM


-- 12. HOT BACKUPS
BACKUP DATABASE [PRODUCT_DATABASE] TO  DISK = N'E:\PRODUCTDB_BACKUPS.bak' WITH  RETAINDAYS = 14, NOFORMAT, NOINIT,  NAME = N'BankingDB-Full Database Backup', SKIP, NOREWIND, NOUNLOAD, COMPRESSION,  STATS = 10, CHECKSUM, CONTINUE_AFTER_ERROR
GO
declare @backupSetId as int
select @backupSetId = position from msdb..backupset where database_name=N'PRODUCT_DATABASE' and backup_set_id=(select max(backup_set_id) from msdb..backupset where database_name=N'BankingDB' )
if @backupSetId is null begin raiserror(N'Verify failed. Backup information for database ''[PRODUCT_DATABASE]'' not found.', 16, 1) end
RESTORE VERIFYONLY FROM  DISK = N'E:\PRODUCTDB_BACKUPS.bak' WITH  FILE = @backupSetId,  NOUNLOAD,  NOREWIND
GO

